numpy==1.26.4
python-dotenv==1.2.1
pytorch-scheduler==0.2.1
PyYAML==6.0.1
torch==2.5.0+cu121
tqdm==4.66.5
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.18.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensordict==0.6.1
tensorflow==2.18.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.23.0
tensorflow_intel==2.18.0
